.formHeader {
    background-color: hsla(202, 79%, 13%, 0.87);
    display:flex;
    margin: 0 40px;


    .switchButtons {
        display: flex;
        width: 200px;
        justify-content: space-between;
        margin: 0 auto 0 10%;
    
        .switch {
            border-radius: 100%;
            height: 85px;
            width: 85px;
            background-color: #DFEBE5;
            color: #08283A;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.15rem;
            align-self: center;          
        }
    }
    
    .productForm{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        margin-right: 40px;
        background-color: hsla(202, 79%, 13%, 0.87);
    
        .formSelect {
            vertical-align: center;
            padding: 0 15px;
    
            label{
                margin: 0;
                font-weight: bold;
                font-size: 1.5em;
                padding-right: 15px;
                color: #DFEBE5;
            }
        }   
    
        .selector {
            border: none;
            font-family: 'Ubuntu', sans-serif;
            color: #08283A;
            line-height: 2rem;
            font-size: 1.25rem;
            // box-shadow: 2px 2px 1px grey;
            background-color: rgba(217, 169, 146, 0.913)
        }
    
        .submit {
            border-radius: 100%;
            height: 70px;
            width: 70px;
            background-color: #DFEBE5;
            color: #08283A;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.15rem;
            align-self: center;
        }
    }
}


.overlay {
    margin: 0 auto;
    font-size: 1.5rem;
    position: fixed;
    height: 720px;
    width: 84%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DFEBE5;
    left: 8%;
    top: 10%;
    border: 4px solid #08283A;

    .addProductForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        width: 70%;
        input {
            line-height: 2rem;
            width: 100%;
            margin-bottom: 10px;
        }
        .submit {
            border-radius: 100%;
            height: 70px;
            width: 70px;
            background-color: #08283A;
            color: #DFEBE5;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.15rem;
            align-self: center;
        }
    } 
}
.productForm{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    margin: 0 40px;
    background-color: hsla(202, 79%, 13%, 0.87);

    .formSelect {
        vertical-align: center;
        padding: 0 15px;

        label{
            margin: 0;
            font-weight: bold;
            font-size: 1.5em;
            padding-right: 15px;
            color: #DFEBE5;
        }
    }   

    .selector {
        border: none;
        font-family: 'Ubuntu', sans-serif;
        color: #08283A;
        line-height: 2rem;
        font-size: 1.25rem;
        // box-shadow: 2px 2px 1px grey;
        background-color: rgba(217, 169, 146, 0.913)
    }

    .submit {
        border-radius: 100%;
        height: 70px;
        width: 70px;
        background-color: #DFEBE5;
        color: #08283A;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.15rem;
        align-self: center;
    }
}

.overlay {
    display: none;
}


